main {
    display: none;
}

#splash-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#splash-container h2 {
    color: #888;
    font-weight: normal;
    font-style: italic;
}