body {
    margin:  0;
    padding: 1em;

    font-family: "Fira Sans", sans-serif;
    font-size:   100%;
    line-height: 1.3em;
}

a {
    color: blue;
}

aside {
    float: right;
    width: 30%;
}

section {
    width: 65%;
}

button {
    font-family: inherit;
    font-size:   inherit;

    width:  100%;
    height: 2.5em;

    background-color: rgba(240, 240, 240, 1);
    border:           2px solid rgba(153, 153, 153, 1);
    box-shadow:       0px 3px 3px rgba(200, 200, 200, 1);

    transition: box-shadow 0.15s;
}
button:hover {
    background-color: rgba(240, 240, 240, 0.5);
}
button:active {
    box-shadow: 0px 1px 1px rgba(200, 200, 200, 1);
}

h1, h2, h3 {
    font-family: "Fira Sans", sans-serif;
}

pre {
    border:           2px solid rgba(153, 153, 153, 1);
    background-color: rgba(230, 228, 228, 1);

    padding: 1em;

    white-space: pre-wrap;
}

.editor {
    border: 2px solid rgba(153, 153, 153, 1);
    height: 300px;
    
    margin-bottom: 1em;
}

#example-editor, #helpers-editor, pre {
    font-family: "Fira Mono", monospace;
    font-size:   inherit;
    line-height: 1.6em;
}

#ui {
    display: none;
}

#ui-container {
    /* border: 2px solid rgba(153, 153, 153, 1); */

    /* min-height: 25px; */
}
